package view

templ IndexPage(pageData *PageData) {
    <!DOCTYPE html />
    <html lang="en">
        @Head(pageData)
        <body>
            <h1 class="text-4xl">Helper</h1>
        </body>
    </html>
}